certifi==2026.5.20
charset-normalizer==3.4.7
idna==3.18
numpy==2.4.4
packaging==26.2
pandas==3.0.3
pip==26.1.1
posit-sdk==0.16.2
python-dateutil==2.9.0.post0
requests==2.34.2
saspy==5.107.1
setuptools==82.0.1
six==1.17.0
typing-extensions==4.15.0
urllib3==2.7.0
wheel==0.47.0
